body {
    font-family: "Mochiy Pop P One", sans-serif;
    text-align: center;
}

li {
    list-style-position: inside;
}

html {
    background-color: #f5e8c7;
}

a {
    color: #6f4c5b;
}

article {
    color: #6F4C5B;
}
